@import url("fonts.css");
@import "base.css";

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-light);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.contact-here {
  padding: 1.5em;
}

.contact-here > h1 {
  text-align: center;
  margin-block: 0;
  font-size: 1.5em;
}

#form-container {
  background-color: var(--color-light-extra);
  border: 0.1em solid var(--color-main);
  border-radius: 15px;
  padding: 1em 1.5em;
  max-width: 90dvw;
  box-sizing: border-box;
  box-shadow: 0 0.1em 0.8em var(--color-black);
}

#form-container label {
  font-weight: bold;
}

#row {
  display: flex;
  gap: 1.25em;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  width: 50%;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#contact-form input,
#contact-form select,
#contact-form textarea {
  padding: 1em;
  border: 0.1em solid var(--color-white);
  border-radius: 0.4em;
  field-sizing: content;
}

#message-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

#message-section textarea {
  width: 100%;
  min-width: 150px;
  box-sizing: border-box;
}

#button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}

#button-group button {
  padding: 0.8em 1.2em;
  border-radius: 5px;
  color: var(--color-white);
  cursor: pointer;
  background: var(--color-main);
  box-shadow: 0 0.1em 0.8em var(--color-black);
}

#button-group button:hover {
  color: var(--color-secondary);
  border: 2px solid var(--color-dark);
}

#contact-info {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  max-width: 1100px;
  margin: 0 auto;
}

#Contact-Text {
  text-align: center;
}

#section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#SocialMedia {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

#SocialMedia a {
  display: flex;
  text-decoration: none;
  font-size: 14px;
  color: #ccc;
  background: linear-gradient(to bottom, #2b2a2a, #030303);
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.562);
}

#Infos {
  gap: 5px;
  text-align: right;
}

.info-item {
  margin-bottom: 15px;
}

#menu-page {
  font-size: 12px;
  margin: 90px 50px 12px 50px;
}

#menu-page h1 {
  text-align: center;
  font-size: 35px;
}

.sub-text {
  text-align: center;
  font-size: 16px;
}

.menu-category h2 {
  font-size: 20px;
  border-bottom: 2px solid #2b2a2a;
}

.menu-items {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 5px 20px;
  gap: 10px;
  margin-bottom: 50px;
}

.menu-card {
  flex: 0 0 250px;
  background-color: #ffffff;
  border: 1px solid #030303;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.562);
}

.menu-card img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 10px;
}

.menu-details {
  padding: 10px 19px 10px 19px;
  text-align: center;
}

.menu-details p {
  font-size: 1em;
  line-height: 1.5;
}

.menu-details > p:first-of-type {
  min-height: 63px;
}

.options {
  font-weight: bold;
  padding-top: 20px;
  margin-top: auto;
}

.price {
  font-weight: bold;
  padding-top: 20px;
}
